exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(tweetCorp)
import(dplyr)
import(Rcpp)
import(RcppProgress)
import(readr)
import(parallel)
import(stringi)
import(rvest)
import(httr)
import(rjson)
import(rPython)